<template>
    <full-calendar :config="config"></full-calendar>
</template>

<script>

    import moment from 'moment';

    export default {

        data() {
            return {
                eventsss: [
                    {
                        title: 'Perfect Day for Rain',
                        start: '2018-06-13',
                        end: '2018-06-14'
                    },
                    {
                        title: 'Wait another month for VueConf',
                        start: '2018-06-05',
                        end: '2018-06-05',
                        cssClass: 'vueconf'
                    },
                    {
                        title: 'A single sunny day',
                        start: '2018-06-01',
                        end: '2018-06-01'
                    }
                ],

                config: {
                    defaultView: 'month'
                },

            }
        },

        created(){

            var events = this.events;

            axios.get('calendar/get', this.$data)
            .then(response => events = response.data);
            var found_items = $.grep(events, function(v){
                console.log(v.subject);
            });
        },




    }

</script>
