<template>
    <div class="mailbox">
        <div class="list-group my-3">
            <template v-for="msg in messages">
                <a :href="msg.webLink" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start" :class="{unread: unread(msg)}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ msg.subject }}</h5>
                        <small>{{ msg.receivedDateTime }}</small>
                    </div>
                    <p class="mb-1">{{ msg.bodyPreview }}</p>
                    <small v-for="senderDetails in msg.sender">From: {{ senderDetails.address }}</small>
                </a>
            </template>
        </div>
    </div>
</template>

<script>

    export default {

        data(){
            return {
                messages: [],
            };
        },

        created(){
            axios.get('mail/get', this.$data)
            .then(response => this.messages = response.data);
        },

        methods: {
            unread: function(msg){
                if(msg.isRead === false){
                    msg.unread = true;
                }
                return msg.unread;
            },
        },

    }

</script>
